	<%- include ("partials/head.ejs") %> 
</head>
<body>
  <%- include ("partials/menu-top.ejs") %> 

  <div class="banner" id="banner">
    <div class="banner__image"></div>
    <div class="banner__content">
			<h1 class="banner__content__title">ToCoToCo Tea</h1>
			<h3 class="banner__content__theme">Đậm vị thiên nhiên <br> trọn vị hạnh phúc</h3>
			<p class="banner__content__para">
				Với sứ mệnh mang tới niềm vui và hạnh phúc, ToCoToCo hy vọng sẽ tạo nên
				<br />
				một nét văn hóa giải trí bên cạnh ly trà sữa Ngon – sạch – tươi.
			</p>
			<a href="" class="banner__content__button">Đặt hàng ngay</a>
			<div class="banner__content__scroll-mouse"></div>
			<p class="banner__content__notice">Cuộn xuống</p>
		</div>
  </div>

  <div class="products">
    <div class="container">
      <div class="products__header">
        <p class="products__header__theme">ToCoToCo Menu</p>
        <h3 class="products__header__title">Sản phẩm nổi bật</h3>
        <div class="products__header__image">
          <img src="images/home_line.webp" alt="">
        </div>
      </div>

      <div class="row flex-wrap products__menu-list">
        <% if (product) { product.forEach(item => { %>
          <div class="col-xl-3 col-lg-3 col-md-4 col-6 products__menu-list__item">
            <a href="/order" class="products__menu-list__item__link">
              <div class="products__menu-list__item__link__image">
                <img src="<%= item.picture %>" alt="">
              </div>
              <div class="products__menu-list__item__link__detail">
                <p class="products__menu-list__item__link__detail__name"><%= item.name %></p>
                <p class="products__menu-list__item__link__detail__price"><span class="money"><%= item.subProduct[0].price * (100 - item.sale) / 100 %></span><del><span class="money" style="margin-left: 8px; color: #bebebe;"><%= item.subProduct[0].price %></span></del></p>
                <div class="products__menu-list__item__link__detail__button">Đặt hàng</div>
              </div>
            </a>
          </div>
        <% })} %>
      </div>

      <a href="" class="products__button-see-more">Xem tất cả</a>
    </div>
  </div>

  <div class="vouchers">
    <div class="container">
      <div class="vouchers__header">
        <h3 class="vouchers__header__title">Hot Vouchers</h3>
        <div class="vouchers__header__image">
          <img src="images/home_line.webp" alt="">
        </div>
      </div>
      <div class="vouchers__menu-list owl-carousel owl-theme">
        <% voucher.forEach(item => { %>
          <div class="item vouchers__menu-list__item d-flex align-items-center">
            <div class="vouchers__menu-list__item__left">
              <p class="vouchers__menu-list__item__left__title"><%= item.name %></p>
              <p class="vouchers__menu-list__item__left__info"></p>
            </div>
            <div class="vouchers__menu-list__item__right">
              <div class="vouchers__menu-list__item__right__price"><%= item.percent %>%</div>
              <div class="vouchers__menu-list__item__right__timeline"><%= (new Date(item.startTime)).toLocaleDateString("en-US") %> - <%= (new Date(item.endTime)).toLocaleDateString("en-US") %></div>
              <% if (item.amount != 0) { %>
                <button value="<%= item._id %>" class="vouchers__menu-list__item__right__button"> Thu thập</button>
              <% } else { %>
                <button value="<%= item._id %>" class="vouchers__menu-list__item__right__button" style="background: linear-gradient(to right, #9c9c9c, #575757) !important;" disabled>Đã hết</button>
              <% } %> 
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  </div>

  <div class="intro">
    <div class="container">
      <div class="intro__item">
        <div class="row justify-content-end align-items-center" style="height: 100%;">
          <div class="col-xl-5">
            <div class="intro__item__header">
              <p class="intro__item__header__theme">ToCoToCo Story</p>
                <h3 class="intro__item__header__title">Về chúng tôi</h3>
                <div class="intro__item__header__image">
                  <img src="images/home_line.webp" alt="">
                </div>
            </div>
            <p class="intro__item__para">
              Bên cạnh niềm tự hào về những ly trà sữa ngon – sạch – tươi,<br>chúng tôi luôn tự tin mang đến khách hàng những trải nghiệm<br> tốt nhất về dịch vụ và không gian.
            </p>
            <a href="" class="intro__item__btn-see-more">Xêm thêm</a>
          </div>
        </div>
      </div>
      <div class="intro__item ">
        <div class="row justify-content-start align-items-center" style="height: 100%;">
          <div class="col-xl-6">
            <div class="intro__item__header">
              <p class="intro__item__header__theme">ToCoToCo Franchise</p>
                <h3 class="intro__item__header__title">Nhường quyền</h3>
                <div class="intro__item__header__image">
                  <img src="images/home_line.webp" alt="">
                </div>
            </div>
            <p class="intro__item__para">  
              Gia nhập đế chế 300 TRIỆU USD. Nếu bạn bắt đầu kinh doanh khởi<br> nghiệp ẩm thực, hoặc muốn đầu tư vào lĩnh vực này, thương hiệu<br> TocoToco chắc chắn sẽ là một lựa chọn đáng cân nhắc cho bạn.
            </p>
            <a href="" class="intro__item__btn-see-more">Xêm thêm</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="events">
    <div class="container">
      <div class="events__header">
        <p class="events__header__theme">Tin Tức và Khuyến Mãi</p>
        <h3 class="events__header__title">Khám phá tocotoco nhận ngay khuyến mãi</h3>
        <div class="events__header__image">
          <img src="images/home_line.webp" alt="">
        </div>
      </div>

      <div class="events__body">
        <div class="row">
          <div class="col-xl-6 col-lg-6">
            <div class="events__body__land">
              <div class="events__body__land__item">
                <div class="events__body__land__item__image">
                  <img src="images/halloween.png" alt="">
                </div>
                <p class="events__body__land__item__title">Mua 2 được 3 - Vui Halloween thả ga cùng tocotoco</p>
                <div class="events__body__land__item__para">
                  <img src="https://s.w.org/images/core/emoji/13.0.1/svg/1f383.svg" alt="">
                  Cùng chào đón không khí bí ẩn của ngày hội Halloween đang đến gần, TocoToco tặng bạn "chiếc ưu đãi cực đã với chương trình Mua 2 Được 3 siêu hấp dẫn.
                </div>
                <a href="" class="events__body__land__item__link">Xem thêm</a>
              </div>
              <div class="">
                <div class="row">
                  <div class="col-6">
                    <a class="events__body__land__item__list">
                      <div class="events__body__land__item__image">
                        <img src="images/halloween.png" alt="">
                      </div>
                      <p class="events__body__land__item__title">Mua 2 được 3 - Vui Halloween thả ga cùng tocotoco</p>
                    </a>
                  </div>
                  <div class="col-6">
                    <a href="" class="events__body__land__item__list">
                      <div class="events__body__land__item__image">
                        <img src="images/halloween.png" alt="">
                      </div>
                      <p class="events__body__land__item__title">Mua 2 được 3 - Vui Halloween thả ga cùng tocotoco</p>
                    </a>
                  </div>
                  <div class="col-6">
                    <a href="" class="events__body__land__item__list">
                      <div class="events__body__land__item__image">
                        <img src="images/halloween.png" alt="">
                      </div>
                      <p class="events__body__land__item__title">Mua 2 được 3 - Vui Halloween thả ga cùng tocotoco</p>
                    </a>
                  </div>
                  <div class="col-6">
                    <a href="" class="events__body__land__item__list">
                      <div class="events__body__land__item__image">
                        <img src="images/halloween.png" alt="">
                      </div>
                      <p class="events__body__land__item__title">Mua 2 được 3 - Vui Halloween thả ga cùng tocotoco</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="events__body__land">
              <div class="events__body__land__item">
                <div class="events__body__land__item__image">
                  <img src="images/halloween.png" alt="">
                </div>
                <p class="events__body__land__item__title">Mua 2 được 3 - Vui Halloween thả ga cùng tocotoco</p>
                <div class="events__body__land__item__para">
                  <img src="https://s.w.org/images/core/emoji/13.0.1/svg/1f383.svg" alt="">
                  Cùng chào đón không khí bí ẩn của ngày hội Halloween đang đến gần, TocoToco tặng bạn "chiếc ưu đãi cực đã với chương trình Mua 2 Được 3 siêu hấp dẫn.
                </div>
                <a href="" class="events__body__land__item__link">Xem thêm</a>
              </div>
              <div class="">
                <div class="row">
                  <div class="col-6">
                    <a class="events__body__land__item__list">
                      <div class="events__body__land__item__image">
                        <img src="images/halloween.png" alt="">
                      </div>
                      <p class="events__body__land__item__title">Mua 2 được 3 - Vui Halloween thả ga cùng tocotoco</p>
                    </a>
                  </div>
                  <div class="col-6">
                    <a href="" class="events__body__land__item__list">
                      <div class="events__body__land__item__image">
                        <img src="images/halloween.png" alt="">
                      </div>
                      <p class="events__body__land__item__title">Mua 2 được 3 - Vui Halloween thả ga cùng tocotoco</p>
                    </a>
                  </div>
                  <div class="col-6">
                    <a href="" class="events__body__land__item__list">
                      <div class="events__body__land__item__image">
                        <img src="images/halloween.png" alt="">
                      </div>
                      <p class="events__body__land__item__title">Mua 2 được 3 - Vui Halloween thả ga cùng tocotoco</p>
                    </a>
                  </div>
                  <div class="col-6">
                    <a href="" class="events__body__land__item__list">
                      <div class="events__body__land__item__image">
                        <img src="images/halloween.png" alt="">
                      </div>
                      <p class="events__body__land__item__title">Mua 2 được 3 - Vui Halloween thả ga cùng tocotoco</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a href="" class="events__button-see-more">Xem tất cả</a>
    </div>
  </div>

  <%- include ("partials/footer.ejs") %> 

  <%- include ("partials/script.ejs") %>
</body>
</html>