<%- include ("partials/head.ejs") %>
    <link rel="stylesheet" href="stylesheets/products.css">
    <link rel="stylesheet" href="stylesheets/payment.css">
	</head>

	<body>
	<%- include ("partials/menu-top.ejs") %>

    <div class="payment">
        <div class="container">
            <div class="owl-carousel owl-theme payment-slide">
                <div class="item">
                    <div class="payment__item">
                        <p class="payment__item__header">Thanh toán trực tiếp</p>
                        <div class="payment__item__body">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="payment__item__body__item">
                                        <p class="payment__item__body__item__title">Thông tin người nhận</p>
                                        <div class="payment__item__body__item__form">
                                            <form action="">
                                                <div class="payment__item__body__form__item">
                                                    <span class="payment__item__body__form__item__label">Họ và tên:</span>
                                                    <input type="text">
                                                </div>
                                                <div class="payment__item__body__form__item">
                                                    <span class="payment__item__body__form__item__label">Số điện thoại:</span>
                                                    <input type="text">
                                                </div>
                                                <div class="payment__item__body__form__item">
                                                    <span class="payment__item__body__form__item__label">Địa chỉ:</span>
                                                    <input type="text">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="payment__item__body__item">
                                        <div class="body__item__title d-flex align-items-center justify-content-between">GIỎ HÀNG
                                            CỦA TÔI
                                            <a href="" class="body__item__title__link">Xóa tất cả</a>
                                        </div>
                                        <div class="body__item__menu-list">
                                            <% if (order.length) { order.forEach(item => { %>
                                                <div class="body__item__menu-list__item">
                                                  <div class="body__item__menu-list__item__info">
                                                    <p class="body__item__menu-list__item__info__name">
                                                      <%= item.productName %> (<%= item.size %>)
                                                    </p>
                                                    <p class="body__item__menu-list__item__info__topping">
                                                      Thêm <% item.topping.forEach(topping => { %> <%=
                                                      topping.name + "," %> <% }) %>
                                                    </p>
                                                    <div class="body__item__menu-list__item__info__cost">
                                                      <span class="money"
                                                        ><%= Math.floor(item.totalPrice / item.amount) %></span
                                                      >
                                                      x <%= item.amount %> =
                                                      <span class="money"
                                                        ><%= Math.floor(item.totalPrice) %></span
                                                      >
                                                    </div>
                                                  </div>
                                                  <div class="body__item__menu-list__item__button">
                                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                                    <div class="body__item__menu-list__item__button__count">
                                                      <input
                                                        style="width: 50px"
                                                        type="number"
                                                        min="1"
                                                        name="amount"
                                                        value="<%= item.amount %>"
                                                      />
                                                    </div>
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                  </div>
                                                </div>
                                                <% })} %>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="payment__item__body__item">
                                        <p class="payment__item__body__item__title">Chọn voucher của bạn</p>
                                        <div class="payment__item__body__item__form">
                                                <div class="payment__item__body__form__item">
                                                    <span class="payment__item__body__form__item__label">Mã vourcher:</span>
                                                    <select class="payment__item__body__form__item__select" name="voucher" id="voucher">
                                                        <option value="">- Không -</option>
                                                        <% voucher.forEach(item => { %>
                                                         <option value="<%= item.code %>"><%= item.code %> - <%= item.name %> - <%= item.percent %>%</option>
                                                        <% }) %>
                                                    </select>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="payment__item__body__item">
                                        <p class="payment__item__body__item__title">Tổng tiền</p>
                                        <p class="payment__item__body__item__total money"><%= totalPrice %></p>
                                            <button class="payment__item__body__item__checkout" type="submit">Thanh toán</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="qayment__item">
                        <p class="payment__item__header">Thanh toán online</p>
                        <span class="payment__item__message">Vui lòng quay lại sau</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<%- include ("partials/footer.ejs") %>

	<%- include ("partials/script.ejs") %>
</body>

</html>