<%- include ("partials/head.ejs") %>
    <link rel="stylesheet" href="stylesheets/products.css">
    <link rel="stylesheet" href="stylesheets/payment.css">
	</head>

	<body>
	<%- include ("partials/menu-top.ejs") %>

    <div class="payment">
        <div class="container">
            <div class="owl-carousel owl-theme payment-slide">
                <div class="item">
                    <div class="payment__item">
                        <p class="payment__item__header">Thanh toán trực tiếp</p>
                        <div class="payment__item__body">
                            <form action="/payment" method="post">
                                <div class="row">
                                <div class="col-xl-6">
                                    <div class="payment__item__body__item">
                                        <p class="payment__item__body__item__title">Thông tin người nhận</p>
                                        <div class="payment__item__body__item__form">
                                                <div class="payment__item__body__form__item">
                                                    <span class="payment__item__body__form__item__label">Họ và tên:</span>
                                                    <input type="text" name="name" value="<%= user.name %>">
                                                </div>
                                                <div class="payment__item__body__form__item">
                                                    <span class="payment__item__body__form__item__label">Số điện thoại:</span>
                                                    <input type="text" name="phone" value="<%= user.phone %>">
                                                </div>
                                                <div class="payment__item__body__form__item">
                                                    <span class="payment__item__body__form__item__label">Tỉnh thành:</span>
                                                    <select
                                                        class="payment__item__body__form__item__select"
                                                        name="province"
                                                        id="vietNamProvinces"
                                                      >
                                                        <option
                                                          class="primary-option-province"
                                                          value="<%= user.province %>"
                                                        >
                                                          <%= user.province %>
                                                        </option>
                                                        <option value="">- Chọn -</option>
                                                      </select>
                                                </div>
                                                <div class="payment__item__body__form__item">
                                                    <span class="payment__item__body__form__item__label">Quận/Huyện:</span>
                                                    <select
                                                        class="payment__item__body__form__item__select"
                                                        name="district"
                                                        id="vietNamDistrict"
                                                      >
                                                        <option
                                                          class="primary-option-district"
                                                          value="<%= user.district %>"
                                                        >
                                                          <%= user.district %>
                                                        </option>
                                                        <option value="">- Chọn -</option>
                                                      </select>
                                                </div>
                                                <div class="payment__item__body__form__item">
                                                    <span class="payment__item__body__form__item__label">Thị Trấn/Phường/Xã:</span>
                                                    <select class="payment__item__body__form__item__select" name="ward" id="vietNamCommune">
                                                        <option class="primary-option-ward" value="<%= user.ward %>">
                                                          <%= user.ward %>
                                                        </option>
                                                        <option value="">- Chọn -</option>
                                                      </select>
                                                </div>
                                                <div class="payment__item__body__form__item">
                                                    <span class="payment__item__body__form__item__label">Số nhà, Đường, Tổ/Ấp:</span>
                                                    <input
                                                    type="text"
                                                    class="form-control"
                                                    id="address"
                                                    name="address"
                                                    placeholder="Số nhà, tổ, đường, ấp/khu phố"
                                                    value="<%= user.address %>"
                                                  />
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="payment__item__body__item">
                                        <div class="body__item__title d-flex align-items-center justify-content-between">GIỎ HÀNG
                                            CỦA TÔI
                                            <a href="" class="body__item__title__link">Xóa tất cả</a>
                                        </div>
                                        <div class="body__item__menu-list">
                                            <% if (order.length) { order.forEach(item => { %>
                                                <div class="body__item__menu-list__item">
                                                  <div class="body__item__menu-list__item__info">
                                                    <p class="body__item__menu-list__item__info__name">
                                                      <%= item.productName %> (<%= item.size %>)
                                                    </p>
                                                    <p class="body__item__menu-list__item__info__topping">
                                                      Thêm <% item.topping.forEach(topping => { %> <%=
                                                      topping.name + "," %> <% }) %>
                                                    </p>
                                                    <div class="body__item__menu-list__item__info__cost">
                                                      <span class="money"
                                                        ><%= Math.floor(item.totalPrice / item.amount) %></span
                                                      >
                                                      x <%= item.amount %> =
                                                      <span class="money"
                                                        ><%= Math.floor(item.totalPrice) %></span
                                                      >
                                                    </div>
                                                  </div>
                                                  <div class="body__item__menu-list__item__button">
                                                    <div class="body__item__menu-list__item__button__count">
                                                      <input
                                                        style="width: 50px"
                                                        type="number"
                                                        min="1"
                                                        name=""
                                                        value="<%= item.amount %>"
                                                        disabled
                                                      />
                                                    </div>
                                                  </div>
                                                </div>
                                                <% })} %>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="payment__item__body__item">
                                        <p class="payment__item__body__item__title">Chọn voucher của bạn</p>
                                        <div class="payment__item__body__item__form">
                                                <div class="payment__item__body__form__item">
                                                    <span class="payment__item__body__form__item__label">Mã vourcher:</span>
                                                    <select class="payment__item__body__form__item__select" name="voucher" id="voucher">
                                                        <option value="">- Không -</option>
                                                        <% voucher.forEach(item => { %>
                                                         <option value="<%= item.code %>"><%= item.code %> - <%= item.name %> - <%= item.percent %>%</option>
                                                        <% }) %>
                                                    </select>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="payment__item__body__item">
                                        <p class="payment__item__body__item__title">Tổng tiền</p>
                                        <p class="payment__item__body__item__total money"><%= totalPrice %></p>
                                        <button class="payment__item__body__item__checkout" type="submit">Thanh toán</button>
                                    </div>
                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="qayment__item">
                        <p class="payment__item__header">Thanh toán online</p>
                        <span class="payment__item__message">Vui lòng quay lại sau</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<%- include ("partials/footer.ejs") %>

	<%- include ("partials/script.ejs") %>
</body>

</html>