<%- include ("partials/head.ejs") %>
	<link rel="stylesheet" href="stylesheets/login.css">
    <link rel="stylesheet" href="stylesheets/message.css">
    <link rel="stylesheet" href="stylesheets/custom.css">
	</head>

	<body>
	<%- include ("partials/menu-top.ejs") %>

    <div class="body">
        <div class="login">
            <div class="login-container">
                <h2 class="login__title">Quên mật khẩu</h2>
                <form action="/reset" method="post" id="formValidateLogin">
                    <div class="login__item">
                        <span class="login__item__title">Email</span>
                        <input type="email" name="username" class="login__item__input" required>
                        <span class="message error"></span>
                    </div>
                    <button class="login__item__button">Lấy mật khẩu</button>
                </form>
                <span class="login__register">Bạn đã có tài khoản? <a href="/login" class="login__register__item">Đăng nhập ngay</a></span>
            </div>
        </div>
    </div>

    <%- include ("partials/message.ejs") %> 

	<%- include ("partials/footer.ejs") %>

    <script src="service.js"></script>

	<%- include ("partials/script.ejs") %>
</body>

</html>